.contenedor {
    width: 300px;
    height: 100px;
    background-color:gray;
}

div {
   background-color: blue;
}

span.frase {
    font-style: italic;
}

span.frase::before {
    content: '<<';
    font-size: xx-small;
}   


span.frase::after {
    content: '>>';
    font-size: xx-small;
}

.libro {
    background-color: antiquewhite;
    padding: 15px;
    font-family: Arial;
}

.libro p::first-letter {
    font-size: xx-large;
}

.libro p::first-line {
    color: green;
}

.libro p::selection {
    background-color: blueviolet;
    color: red;
}


.listado li::marker {
    color: blueviolet;
}
