h1 {
    color:red;
}
/*esto es un comentario*/

p{
    color: blue;
    font-size: 16pt ;
}

#primera-noticia {
    color: green;
    font-size: 12pt;
}

#segunda-noticia{
   /* color: blueviolet;*/
   font-size: 10pt;
}

.Encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}

*.warning {
    color: red;
}

.autor , .fecha, .ubicacion, h1, #segunda-noticia {
    text-decoration: underline;
}

























