/* Estilos paracolores*/

.colores{
    color: red;
}

.color-hexadecimal{
    color:#7d03869b
}

.color-rgb{
    color: rgb(100, 0, 200)
}

.color-rgba{
    color: rgba(10, 10, 10,0.2) ;
}

/* fondos */

.fondo{
    /*background-color: rgb(207, 41, 219);*/
    background-image: url("https://tutorialesenlinea.es/css_reference/uploads/2015/01/blend-mode-example-screenshot.png");
    background-position: left bottom;
}


.fondo-interno {
    /*background-color: rgb(207, 41, 219);*/
    background-image: url("imagenes/pexels-james-wheeler-1619317.jpg");
    background-position: left bottom;
}
/*dimenciones*/

.ancho{
    background-color: rgb(21, 113, 220);
    width: 120px;
}

.alto{
    background-color: blue;
    height: 130px;
    width: 200px;
}

.tarjeta{
    border-style: solid;
    border-color: rgb(130, 11, 209);
    border-width: 1px;
    padding: 10px 20px;
    margin: 10px 20px;
}

































