@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')

html{
    font-family:'Gill Sans MT',calibri,'Trebuchet MS', sans-serif; 
    font-size: larger;
    font-weight: 400;
    font-style: italic;
}