.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: blueviolet;
    /* transition: transform 1s ease-in; */
   
}

.padre:hover .hijo {
    /* transform: translatex(100%);
    background-color: green;*/
    animation: traslacion 2s ease-in-out 2 forwards ;
} 

@keyframes traslacion {
    0% {
        background-color: brown;
        transform: translatex(0%) translateY(0%);
    }
    25% {
        transform: translateX(100%) translateY(0%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    75% {
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: black;
        transform: translatex(0%) translateY(0%);
    }
}







