body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-tooltip {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    border-bottom: 2px solid darkgreen;
    cursor: pointer;
    transition: background-color 150ms;
}

.btn-tooltip:hover {
    background-color: rgb(10, 158, 10);
}
/* 
.btn-tooltip:hover::before {
    content: "Esto es un tooltip";
}
 */

.tooltip {
   position: absolute;
   /* visibility: hidden; */
   opacity: 0;
   top: -50px;
   left: -100%;
   transform: translateX(25%);
   color: rgb(244, 241, 241);
   background-color: darkblue;
   padding: 5px 10px;
   border-radius: 5px;
   transition: opacity 150ms;
}

.btn-tooltip:hover .tooltip {
   /* visibility: visible; */
   opacity: 1;
}

.tooltip::before {
    content: '';
    border: solid 10px transparent;
    border-top-color:darkblue ;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

/* .triangulo {
    border: solid 10px transparent;
    border-top-color:darkblue ;
} */
























