.input {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input[type="password"] {
    color: dimgray;
}

.input-moderno {
    border: none;
    border-bottom: 1px solid #fdebeb;
    outline: none;
    padding: 5px ;
    color: #4e4444;
}

.input-moderno::placeholder {
    color: #0d1eb5;
}

.input-moderno:focus {
    border-bottom: 1px solid #0d1eb5;
}


.input-background {
    background-color: rgb(128, 219, 167);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    color: white;
    box-shadow: 0 0 10px #6b6b6b;
}

.input-background::placeholder {
    color: #504f4f;
}

.input-search{
    padding: 10px;
    padding-left: 30px;
    /* border: none; */
    background-color: #cbc9c9;
    border-radius: 8px;
    margin: 10px;
    background-image: url('../img/search-6380865_640.png');
    background-repeat: no-repeat;
    background-position: 5px;
}
























