.flex{
    display: flex; 
    background-color: blue;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.contenedor-1 {
    background-color: green;
    /* height: 200px; */
    width: 100px;
    border: 1px solid rgb(93, 4, 129);
}

.contenedor-2 {
    background-color: green;
    /* height: 200px; */
    width: 100px;
    border: 1px solid green;
}

.contenedor-3 {
    background-color: green;
    /* height: 200px; */
    width: 100px;
    border: 1px solid rgb(93, 4, 129);
}