h3{
    margin-left: 220px;
}


div{
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}

/* posicionamiento relativo - se posiciona al posicionamiento original */

.relative{
    position: relative;
    left: 80px;
    margin-left: 10;
}

/* posicionamiento fijo - se posiciona en relacion ala pantalla */

.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: green;
    z-index: 10;
} 

/* posicionamiento absoluto */

.absolute {
    position: absolute;
    bottom: 30px;
    right: 0px;
    background-color: white;
}

.relative.contenedor{
    width: 300px;
    height: 400px;
    background-color: blue;
}

.sticky {
    background-color: darkred;
    color: white;
    position: sticky;
    top: 0pxccc2;
}




















